@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --color-primary: 62 151 255;
        --color-secondary: 126 130 153;
        --color-error: 241 65 108;
    }

    body {
        @apply font-inter relative
    }

    h1 {
        @apply text-[32px] leading-[32px] font-bold
    }

    h4 {
        @apply text-xl font-semibold
    }

    button {
        @apply text-[13px] leading-[14px] text-center py-[12px] rounded-[6px] font-bold hover:brightness-110 transition-all
    }
}

@layer components {
    .wrapper {
        @apply w-full xl:w-[1300px] px-[10px] xl:mx-auto
    }

    .header-nav {
        @apply px-[14px] py-[8px] font-semibold rounded-[6px] text-white
    }
    .header-nav.active {
        @apply text-primary bg-white/10
    }

    .content-wrapper {
        @apply p-[15px] xl:p-[30px] bg-white rounded-[12px]
    }

    .bloglist {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-[20px] gap-y-[25px] xl:gap-y-[40px] items-stretch
    }

    .blogcard {
        @apply flex flex-col gap-[10px] w-full cursor-pointer hover:brightness-110
    }
    .blogimage {
        @apply rounded-[12px] aspect-video object-cover
    }

    .tagslist {
        @apply flex items-center justify-start gap-[10px] flex-wrap
    }

    .input {
        @apply w-full text-[13px] leading-[14px] font-medium bg-transparent border-0 outline-0 placeholder-[#D8D8E5]
    }
    .input.textarea {
        @apply resize-none overflow-hidden
    }

    .inputblock {
        @apply flex items-start py-[13px] px-[10px] rounded-[6px] gap-[10px] w-full bg-[#F9F9F9] hover:outline hover:outline-[2px] hover:outline-primary/80
    }
    .inputblock.error {
        @apply hover:outline-error/80
    }
    .inputblock.focused {
        @apply ring-[4px] ring-offset-1 ring-primary/30 outline outline-[2px] outline-primary/80
    }
    .inputblock.focused.error {
        @apply ring-error/30 outline-error/80
    }

    button.primary {
        @apply bg-primary text-white
    }
    button.secondary {
        @apply bg-[#EEF6FF] text-primary
    }
    button.disabled {
        @apply bg-[#F9F9F9] text-[#D8D8E5] pointer-events-none
    }
}

@layer utilities {
    .flex-center-row {
        @apply flex items-center justify-center
    }
    .fade-enter-active,
    .fade-leave-active {
        transition: all 0.3s ease-in-out;
    }
    .fade-enter-from,
    .fade-leave-to {
        opacity: 0
    }
}

